{% extends 'framework.html' %}

{% load static %}

{% block content %}


	<p><h4>Meet the Brians!!</h4></p>
	<br>
	<p>MCC is run by an elite team of people called Brian - one name, so you won't forget!</p>
	<p>The Brian's are a collective of friends and family with a love of all things comic books, sci-fi and pop culture.  Because they love it, they make sure that you'll love Melksham Comic Con!</p>
	<br>
	<p>Click a Brian's image to see their profile.</p>
	<div class='row text-center'>
		<div class='col-md-12' style='padding-top: 30px;'>
			<div class='col-md-3'>
				<a href='#angry' class='thumbnails' data-target='#angry'>
					<img src='{% static 'images/brians/hayley_brian.jpg' %}' alt='angry_brian'>
				</a>
				<br>
				<p>Angry Brian</p>
			</div>
			<div class='col-md-3'>
				<a href='#' id='arty' class='thumbnails'>
					<img src='{% static 'images/brians/chailey_brian.jpg' %}' alt='arty_brian'>
				</a>
				<br>
				<p>Arty Brian</p>
			</div>
			<div class='col-md-3'>
				<a href='#pirate' class='thumbnails' data-target='#pirate'>
					<img src='{% static 'images/brians/dudley_brian.jpg' %}' alt='pirate_brian'>
				</a>
				<br>
				<p>Pirate Brian</p>
			</div>
			<div class='col-md-3'>
				<a href='#' id='jurassic' class='thumbnails'>
					<img src='{% static 'images/brians/gatty_brian.jpg' %}' alt='jurassic_brian'>
				</a>
				<br>
				<p>Jurassic Brian</p>
			</div>
		</div>

		<div class='col-md-12' style='padding-top: 30px;'>
			<div class='col-md-3'>
				<a href='#' id='rockstar' class='thumbnails'>
					<img src='{% static 'images/brians/kim_brian.jpg' %}' alt='rockstar_brian'>
				</a>
				<br>
				<p>Rockstar Brian</p>
			</div>
			<div class='col-md-3'>
				<a href='#' id='vk' class='thumbnails'>
					<img src='{% static 'images/brians/crom_brian.jpg' %}' alt='vk_brian'>
				</a>
				<br>
				<p>VK Brian</p>
			</div>
			<div class='col-md-3'>
				<a href='#' id='mum' class='thumbnails'>
					<img src='{% static 'images/brians/kathy_brian.jpg' %}' alt='mum_brian'>
				</a>
				<br>
				<p>Brian's Mum</p>
			</div>
			<div class='col-md-3'>
				<a href='#' id='photo' class='thumbnails'>
					<img src='{% static 'images/brians/sarah_brian.jpg' %}' alt='photo_brian'>
				</a>
				<br>
				<p>Photo Brian</p>
			</div>
		</div>
		<div class='col-md-12' style='padding-top: 30px;'>
			<div class='col-md-3'>
				<a href='#' id='la' class='thumbnails'>
					<img src='{% static 'images/brians/virginie_brian.jpg' %}' alt='la_brian'>
				</a>
				<br>
				<p>La Brian</p>
			</div>
			<div class='col-md-3'>
				<a href='#' id='mystery' class='thumbnails'>
					<img src='{% static 'images/brians/andy_brian.jpg' %}' alt='mystery_brian'>
				</a>
				<br>
				<p>Mystery Brian</p>
			</div>
			<div class='col-md-3'>
				<a href='#' id='blonde' class='thumbnails'>
					<img src='{% static 'images/brians/leigh_brian.jpg' %}' alt='blonde_brian'>
				</a>
				<br>
				<p>Blonde Brian</p>
			</div>
			<div class='col-md-3'>
				<a href='#' id='mini' class='thumbnails'>
					<img src='{% static 'images/brians/amy_brian.jpg' %}' alt='mini_brian'>
				</a>
				<br>
				<p>Mini Brian</p>
			</div>
		</div>
		<div class='col-md-12' style='padding-top: 30px;'>
			<div class='col-md-3'>
				<a href='#' id='constable' class='thumbnails'>
					<img src='{% static 'images/brians/chris_brian.jpg' %}' alt='constable_brian'>
				</a>
				<br>
				<p>Constable Brian</p>
			</div>
			<div class='col-md-3'>
				<a href='#' id='housemate' class='thumbnails'>
					<img src='{% static 'images/brians/dan_brian.jpg' %}' alt='housemate_brian'>
				</a>
				<br>
				<p>Brian's Housemate</p>
			</div>
			<div class='col-md-3'>
				<a href='#' id='brother' class='thumbnails'>
					<img src='{% static 'images/brians/daniel_brian.jpg' %}' alt='brother_brian'>
				</a>
				<br>
				<p>Brian's Brother</p>
			</div>
			<div class='col-md-3'>
				<a href='#' id='chef' class='thumbnails'>
					<img src='{% static 'images/brians/hannah_brian.jpg' %}' alt='chef_brian'>
				</a>
				<br>
				<p>Chef Brian</p>
			</div>
		</div>
		<div class='col-md-12' style='padding-top: 30px;'>
			<div class='col-md-3'>
				<a href='#' id='brofriend' class='thumbnails'>
					<img src='{% static 'images/brians/josh_brian.jpg' %}' alt='brofriend_brian'>
				</a>
				<br>
				<p>Brian's Brother's Friend Brian</p>
			</div>
			<div class='col-md-3'>
				<a href='#' id='eating' class='thumbnails'>
					<img src='{% static 'images/brians/mark_brian.jpg' %}' alt='eating_brian'>
				</a>
				<br>
				<p>Always Eating Brian</p>
			</div>
			<div class='col-md-3'>
				<a href='#' id='stepdad' class='thumbnails'>
					<img src='{% static 'images/brians/matt_brian.jpg' %}' alt='stepdad_brian'>
				</a>
				<br>
				<p>Brian's Step-dad</p>
			</div>
			<div class='col-md-3'>
				<a href='#' id='black' class='thumbnails'>
					<img src='{% static 'images/brians/rhyana_brian.jpg' %}' alt='black_brian'>
				</a>
				<br>
				<p>Black Brian</p>
			</div>
		</div>
	</div>

	<div id='angry' class='modal fade'>
		<div class='modal-dialog'>
			<div id='angry' class='modal-content'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
					<img src='{% static 'images/brians/hayley_brian.jpg' %}' alt='angry_brain_small' style='width: 50px;'>
					<div style='text-left'>
						<h4 class='modal-title'>Angry Brian</h4>
						<h6 class='modal-title'>Founder, Director and Secretary</h6>
					</div>
				</div>

				<div class='modal-body'>
					<p>Hayley is often found in Komix</p>
					<p>She's just had a baby</p>
				</div>
			</div>
		</div>
	</div>

	<div id='pirate' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
					<img src='{% static 'images/brians/dudley_brian.jpg' %}' alt='pirate_brain_small' style='width: 50px;'>
					<div style='text-left'>
						<h4 class='modal-title'>Pirate Brian</h4>
						<h6 class='modal-title'>Director and Web Co-ordinator</h6>
					</div>
				</div>

				<div class='modal-body'>
					<p>Dudley is often found pirating</p>
					<p>Don't touch his beard</p>
				</div>
			</div>
		</div>
	</div>


<!--
	<script type='text/javascript'>
	$('#angry').click(function(){
		$('.modal').modal(show=true);
	})
	$('#pirate').click(function(){
		$('.modal').modal(show=true);
	})
	</script>
-->

{% endblock %}