{% extends 'framework.html' %}

{% block content %}
	<h3>The history of MCC...</h3>
	<p>Melksham Comic Con is a non-profit event that celebrates and promotes comic books and sequential art in its many forms, from web comics, independent works, publishers, printers, retailers and so much more! We’re the perfect convention for people who have never been to one, or want to see what it’s all about – taking place in the heart of Wiltshire, surrounded by beautiful countryside!

 
We launched in 2011 and have successfully doubled in size each year – 2014 was our first 2-day weekend event!  This year we are running another 2-day event, we hope to see you there!</p>
{% endblock %}