{% extends 'framework.html' %}

{% load static %}

{% block content %}
	<p><h4>Where to find us...</h4></p>

	<p>Melksham is a medium-sized town in Wiltshire, situated along the River Avon.  We’re about 12 miles southeast of Bath, 6 miles south of Chippenham.  We have a population of about 20,000, with our town centre providing convention attendees with plenty of choice for places to eat and drink, and socialise throughout the duration of the weekend!</p>
	
	<br>
	<div class='col-md-6'>
		<br>
		<p>MCC is held at the Melksham Assembly Hall, which can be found at the following address;</p>
		<div class='text-left'>
			<p>Melksham Assembly Hall</p>
			<p>Market Place</p>
			<p>Melksham</p>
			<p>Wiltshire</p>
			<p>SN12 6ES</p>
		</div>
		<br>
		<p>For further details on the Assembly Hall please visit their <a href='http://melkshamassemblyhall.com/' target='_blank'>website</a>.</p>
	</div>

	<div id='map-container' class='col-md-6 col-md-offset-1' style='height: 250px; width: 300px;'></div>
 
    <script src='http://maps.google.com/maps/api/js?sensor=false'></script>
    <script>	
 
      function init_map() {
		var var_location = new google.maps.LatLng(51.371505,-2.13935);
 
        var var_mapoptions = {
          center: var_location,
          zoom: 16
        };
 
		var var_marker = new google.maps.Marker({
			position: var_location,
			map: var_map,
			title:'MelkshamComicCon'});
 
        var var_map = new google.maps.Map(document.getElementById('map-container'),
            var_mapoptions);
 
		var_marker.setMap(var_map);	
 
      }
 
      google.maps.event.addDomListener(window, 'load', init_map);
 
    </script>

    <div class='col-md-12'><br><br></div>
    <br>

{% endblock %}