{% extends 'frontpage/framework.html' %}

{% block frontpagecontent %}

		<p><h2>MCC 2015 - Sat 29th & Sun 30th August!</h2></p> 
		
		<p><strong>Tickets are now on sale!!</strong></p>
		<p><i class='fa'></i></p>
		<p>MCC is back for another year!  We are looking forward to MCC2015 and it is shaping up to be the biggest and most exciting year we've had yet.</p>

		<p>Keep an eye on the website and social media sites for upcoming fundraising events.  As most of you know MCC is completely not-for-profit.  We rely on you guys to help support us through fundraising and donations.  If you would like to get involved please contact us via email, Facebook or Twitter.</p>

		 

		<p>You can also donate through PayPal by clicking on the right.</p> 
		
		<p>Head over to the store and select which day you're attending, or the entire weekend!</p>
		<p><i class='fa'></i></p>
		<p>MCC T-shirts are now on sale!!</p>

		<p>We have two designs available so head over to the store and get yours!  If you order before the 1st May you get a FREE day ticket to MC2015!  Just remember to put your address and preferred day in the 'Note to seller' box on PayPal.</p>
		<p><i class='fa'></i></p>

		<p>The Cosplay Competition will be returning for 2015 so get working on those outfits!!</p>
		<p><i class='fa'></i></p> 
		<p> ----------------</p>

		<p>Praise for MCC...</p>

		 

		<blockquote><i class='fa'><em><p>"Melksham Comic Con is without doubt one of the greatest conventions in the country. Having been on the circuit for over 7 years I can safely say there isn't another convention in the UK that matches up to Melksham's level of support for its exhibitors and its showmanship and star quality"</p><small>Nich Angell, creator of 7String</small></em></i></blockquote>

		 

		<blockquote class='pull-right'><i class='fa'><em><p>"For a con that actually had a King, Melksham somehow managed to make everyone - punters, guests and exhibitors alike - feel like royalty, even if only for a day. The absolute highlight of my convention year."</p><small>Jon Lock, creator of Afterlife Inc.</small></em></i></blockquote>
		</i>
{% endblock %}