<!DOCTYPE html>

{% load static %}

<html>
<head>
	<title>MCC 2015</title>

	<meta http-equiv='X-UA-Compatible' content='IE=edge'/>
	<meta charset='utf-8' />

	<!-- <link rel='stylesheet' type='text/css' href='{% static 'bootstrap/css/superhero-bootstrap.css' %}'> -->
	<link rel='stylesheet' type='text/css' href='{% static 'bootstrap/css/simplex-bootstrap.css' %}'>
	<link rel='stylesheet' type='text/css' href='{% static 'fontawesome/css/font-awesome.min.css' %}'>
	<link rel='stylesheet' type='text/css' href='{% static 'uikit/css/uikit.css' %}'>

	<script src='{% static 'js/jquery-2.1.1.min.js' %}'></script>
	<!-- <script src='/static/js/jquery.form.js'></script> -->
	<script src='{% static 'js/jquery-ui.min.js' %}'></script>

	<script src='{% static 'bootstrap/js/bootstrap.js' %}'></script>
	<script src='{% static 'uikit/js/uikit.js' %}'></script>
	<!-- // <script src='/static/js/jquery.dataTables.js'></script> -->
	<!-- // <script src='/static/js/dataTables.bootstrap.js'></script> -->
	<!-- // <script src='/static/js/django.js'></script> -->
</head>

<body style='background:url({% static 'images/backgrounds/bg_large.png' %})'>


	<div>
		<a class='container' href='/'>
			<img src='{% static 'images/logos/logo_2015.png' %}' alt='2015 Logo' style='width: 500px;position: absolute;padding-top: 20px' />
		</a>
	</div>

	<nav class='navbar navbar-inverse navbar-fixed-top' role='navigation'>
		<div class='container'>	
			<div class='modal fade'>
				<div class='modal-dialog'>
					<div class='modal-content'>
						<div class='modal-header'>
							<button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
							<h4 class='modal-title'><i class='fa'>Email</i></h4>
						</div>

						<div class='modal-body'>
							<p>For any general questions or queries please email Brian:</p>
							<p><em>brian@melkshamcomiccon.com</em></p>
							<p></p>
							<p>If you would like to contact a specific team please look at our <a href='/about/contact'>Contact</a> page for further information.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class='container-fluid'>
			<div class='navbar-header'>
				<button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-navbar-collapse-2'>
					<span class='sr-only'>Toggle navigation</span>
					<span class='icon-bar'></span>
					<span class='icon-bar'></span>
					<span class='icon-bar'></span>
				</button>
			</div>

			<div class='container' style='font-size:15px;'>
				<div class='collapse navbar-collapse' is='bs-navbar-collapse-2'>
					<ul class='nav navbar-nav'>
						<a class='navbar-brand' href='/'>
							<img alt='MCC_Logo' src='{% static 'images/logos/logo_2015.png' %}' style='width: 50px;'>
						</a>
						<!-- <li><a href='/'><i class='fa'></i>Home</a></li> -->

						<li class='dropdown'>
							<a data-toggle='dropdown' class='dropdown-toggle' href='#'>About <b class='caret'></b></a>

							<ul class='dropdown-menu'>
								<li><a href='/about/history'>History</a></li>
								<li><a href='/about/brians'>Brians</a></li>
								<li><a href='/about/location'>Location</a></li>
							</ul>
						</li>

						<li class='dropdown'>
							<a data-toggle='dropdown' class='dropdown-toggle' href='#'>Event <b class='caret'></b></a>

							<ul class='dropdown-menu'>
								<li><a href='/event/guests'>Guests</a></li>
								<li class='disabled'><a href='#'>Exhibitors</a></li>
								<li class='disabled'><a href='#'>Sponsors</a></li>
								<li class='divider'></li>
								<li class='disabled'><a href='#'>Exhibitor Bookings</a></li>
							</ul>
						</li>

						<li class='dropdown'>
							<a data-toggle='dropdown' class='dropdown-toggle' href='#'>Media <b class='caret'></b></a>

							<ul class='dropdown-menu'>
								<li class='disabled'><a href='#'>Gallery</a></li>
								<li class='disabled'><a href='#'>Videos</a></li>
							</ul>
						</li>					

						<li><a href='/store/store'>Store</a></li>
					</ul>
					<div class='navbar-text navbar-right'>
						<a href='https://www.facebook.com/melkshamcomiccon' target='_blank'><i class='fa fa-facebook-official fa-lg fa-inverse' style='padding: 4px;'></i></a>
						<a href='https://twitter.com/Melksham_Con' target='_blank'><i class='fa fa-twitter fa-lg fa-inverse' style='padding: 4px;'></i></a>
						<a href='#' id='email'><i class='fa fa-envelope fa-lg fa-inverse'></i></a>
					</div>
				</div>
			</div>
		</div>


	</nav>


	<div class='container' style='min-height:200px;'></div>

	<div class='container' style='min-height:500px;'>
		<div class='row panel panel-default col-md-9' style='min-height:400px;'>
			{% block content %}
			{% endblock %}
		</div>
		<div class='panel col-md-3 text-center' style='margin-left: 30px;min-height: 235px;'>
			<p>Latest News</p>
			{% block newscontent %}
			{% endblock %}
			<br>
		</div>
		<!-- <div class='panel col-md-3 text-center' style='margin-left: 30px;margin-top: 10px;min-height: 235px;'>
			<p>Latest Tweets</p>
			<br>
		</div> -->
	</div>

	<footer class='footer'>
		<div class='container'>
			<hr>
			<div class='col-md-4 text-left'>
				<p></p>
			</div>
			<div class='col-md-4 text-center'>
				<p><a href='/about/contact'>Contact Us</a></p>
			</div>
			<div class='col-md-4 text-right'>
				<p>&copy;2015 Melksham Comic Con</p>
			</div>
			<p><i class='fa'></i></p>
			<p><i class='fa'></i></p>
		</div>
	</footer>

</body>

<script type='text/javascript'>
	$('#email').click(function(){
		$('.modal').modal(show=true);
	})
</script>


</html>