<!DOCTYPE html>

{% load static %}

<html>
<head>
	<title>MCC 2015</title>

	<meta http-equiv='X-UA-Compatible' content='IE=edge'/>
	<meta charset='utf-8' />

	<link rel='stylesheet' type='text/css' href='{% static 'bootstrap/css/superhero-bootstrap.css' %}'>
	<link rel='stylesheet' type='text/css' href='{% static 'fontawesome/css/font-awesome.min.css' %}'>

	<script src='{% static 'js/jquery-2.1.1.min.js' %}'></script>
	<!-- <script src='/static/js/jquery.form.js'></script> -->
	<script src='{% static 'js/jquery-ui.min.js' %}'></script>

	<script src='{% static 'bootstrap/js/bootstrap.js' %}'></script>
	<!-- // <script src='/static/js/jquery.dataTables.js'></script> -->
	<!-- // <script src='/static/js/dataTables.bootstrap.js'></script> -->
	<!-- // <script src='/static/js/django.js'></script> -->
</head>

<body>
<!-- 	<div class='container top-navbar'>
		<a class="navbar-brand" href="/">
			<img src="{% static "images/logo_2015.png" %}" alt="2015 Logo" />
		</a>
	</div> -->

	<nav class='navbar navbar-inverse' role='navigation'>

		<div class='navbar-header'>
			<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#bs-navbar-collapse-1'>
				<span class='sr-only'>Toggle navigation</span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
			</button>
		</div>

		<div class='container'>
			<div class='collapse navbar-collapse' is='bs-navbar-collapse-1'>
				<ul class='nav navbar-nav'>
					<li><a href="/"><i class='fa'>Home</i></a></li>

					<li class='dropdown'>
						<a data-toggle='dropdown' class='dropdown-toggle' href='#'>
							<i class='fa'></i>About<b class='caret'></b>
						</a>

						<ul class='dropdown-menu'>
							<li><a href='/about/brians'><i class='fa-fw fa'></i>Brians</a></li>
							<li><a class='top-menu-disabled'><i class='fa-fw fa'></i>Location</a></li>
						</ul>
					</li>

					<li class='dropdown'>
						<a data-toggle='dropdown' class='dropdown-toggle' href='#'>
							<i class='fa'></i>Event<b class='caret'></b>
						</a>

						<ul class='dropdown-menu'>
							<li><a class='top-menu-disabled' href='#'><i class='fa-fw fa'></i>Guests</a></li>
							<li><a class='top-menu-disabled' href='#'><i class='fa-fw fa'></i>Exhibitors</a></li>
							<li><a class='top-menu-disabled' href='#'><i class='fa-fw fa'></i>Sponsors</a></li>
							<li class='divider'></li>
							<li><a class='top-menu-disabled' href='#'><i class='fa-fw fa'></i>Exhibitor Bookings</a></li>
						</ul>
					</li>

					<li class='dropdown'>
						<a data-toggle='dropdown' class='dropdown-toggle' href='#'>
							<i class='fa'></i>Media<b class='caret'></b>
						</a>

						<ul class='dropdown-menu'>
							<li><a class='top-menu-disabled' href='#'><i class='fa-fw fa'></i>Gallery</a></li>
							<li><a class='top-menu-disabled' href='#'><i class='fa-fw fa'></i>Videos</a></li>
						</ul>
					</li>					

					<li><a href="/store"><i class='fa'>Store</i></a></li>

				</ul>

			</div>
		</div>
	</nav>

	{% block secondnav %}
	{% endblock %}

	<div class='container' style='min-height:500px;'>
		{% block content %}
		{% endblock %}
	</div>

	<div class='container'>
		<footer>
			<hr>
			<p class='footer-text'>
				&copy;2015 Melksham Comic Con |
			</p>
		</footer>
	</div>

</body>

</html>